* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

html {
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
}

/* UTILITY */

.container {
    width: 80%;
    margin: auto;
}

.flexbox {
    display: flex;
}

/* /UTILITY */


/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    z-index: 999;
    background-color: #0084fd;
    color: white;
}

.header-container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-right ul {
    justify-content: space-between;
    list-style-type: none;
    display: none;
}

.header-right ul li {
    margin-right: 1rem;
}

.header-right i {
    font-size: 1.5rem;
}

@media screen and (min-width: 992px) {
    
    .header-right i {
        display: none;
    }

    .header-right ul {
        display: flex;

    }

}

@media screen and (min-width: 1200px) {

    .header-container {
        max-width: 1200px;
    }

}

/* /HEADER */

/* MAIN */

main {
    margin-top: 5rem;
}

.section-container {
    width: 90%;
    margin: auto;
}

/* section 1 */

.card {
    /* DEBUG */
    border: 1px solid black;
    background-color: #b5ddff;
    margin-bottom: 1.5rem;
    padding: 1.2em;

    flex-direction: column;
    align-items: center;
}

.card1 .card-text {
    margin-bottom: 1rem;
}

.card1 {
    padding-bottom: 0;
}

.why-us .card1-img {
    width: 80%;
    margin-bottom: -.3rem;
    max-width: 400px;
}

@media screen and (min-width: 768px) {
    .section-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1.5rem;
        align-items: stretch;
    }

    .card1 {
        width: calc(100% / 3 * 2 - 1.5rem / 3);
    }

    .card:not(:first-child) {
        width: calc(100% / 3 - (1.5rem * 2 / 3));
    }

    .header-container {
        width: 85%;
    }

}

@media screen and (min-width: 992px) {
    
    .section-container {
        max-width: 1200px;
    }

    .card1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header-container {
        width: 90%;
        max-width: 1200px;
    }

}
/* /section 1 */

/* section 2 */

.planning {
    background-color: #9792e4;
    color: white;
    padding: 3rem 0;
}

.card1-2 {

    text-align: center;
}

.card1-2 .card1-2-text {
    text-align: left;
}

.card2-2 {
    color: black;
    background-color: white;
    padding: 2em;
    border-radius: 20px;
    text-align: center;
}

.card1-2-img {
    margin-bottom: 3.5rem;
}

@media screen and (max-width: 768px) {
    .card1-2 {
        margin-bottom: 3rem;
    }
}

@media screen and (min-width: 992px) {
    
    .section2-container {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: flex-end;
    }

    .card1-2 {
        width: 30%;
        margin-right: 5rem;
    }

    .card2-2 {
        width: 30%;
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card2-2 img {
        width: 80%;
        margin-bottom: 2rem;
    }

}

/* /section 2 */

/* /MAIN */